@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.user-info,
.saved-nets {
  background-color: $gray-200;
  height: 50vh;

  border-radius: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card {
  border-radius: 1em;
}
