@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$size: 3em;

.place {
  border-radius: $size;
}

.transition {
  border-radius: 0.5em;
}

.transition,
.place {
  background-color: $primary;
  width: $size;
  height: $size;
  color: white;

  &.dragging {
    opacity: 0.5;
  }

  &:hover {
    cursor: move;
  }

  > label {
    font-size: 0.7em;
    text-align: center;
  }
}
